{% extends 'partials/base.html' %}

{% block title %}

<title>Clientes</title>

{% endblock %}

{% block content %}

<main class="main-content-container">
    <div class="container">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Descricao</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Endereço</th>
                </tr>
            </thead>
            <tbody>
                {% for storage in storage_list %}
                <tr>
                    <th scope="row"><a href="/armazem/{{ storage.id }}/"> {{ storage.nome }} </a></th>
                    <td>{{ storage.descricao }}</td>
                    <td>{{ storage.volume }}</td>
                    <td>{{ storage.endereco }}, {{ storage.cidade }} - {{ storage.estado }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}