/*
O header.css é um documento de estilo utilizado para formatar e criar um estilo
para o cabeçalho do site, este que será utilizado universalmente em todas as páginas.
Toda a configuração envolver o header se encontra nesse documento.
*/

.navbar {
    height: auto;
    max-height: 70px;
    padding: 20px 0px;
  }
  
  .nav-link {
    color: black;
    width: fit-content;
  }
  
  .navbar .col-md-4 {
    display: inline-flex;
    height: 40px;
    width: 30%;
  }
  
  .search-form-container {
    padding: 0px 10%;
    width: 100%;
  }
  
  .btn-outline-success{
    width: auto;
  }
  
  /* CONTAINER DO PERFIL */
  
  .profile-picture-container {
    padding: 5px;
    position: relative;
    height: 50px;
    width: 50px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  
  .profile-picture-container img {
    position: relative;
    top: 2.5%;
    left: 2.5%;
    height: 95%;
    width: 95%;
    object-fit: cover;
    border-radius: 50%;
  }