{% extends 'partials/base.html' %}

{% block title %}

<title>Home</title>

{% endblock %}

{% block content %}

<main class="main-content-container">
    <div class="main-content main-content-list container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At maiores obcaecati optio doloremque commodi odio
        voluptatem ad libero repellendus blanditiis, nulla quos, dolorum explicabo nemo mollitia? Odit laboriosam
        aspernatur eum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At maiores obcaecati optio doloremque commodi odio
        voluptatem ad libero repellendus blanditiis, nulla quos, dolorum explicabo nemo mollitia? Odit laboriosam
        aspernatur eum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At maiores obcaecati optio doloremque commodi odio
        voluptatem ad libero repellendus blanditiis, nulla quos, dolorum explicabo nemo mollitia? Odit laboriosam
        aspernatur eum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At maiores obcaecati optio doloremque commodi odio
        voluptatem ad libero repellendus blanditiis, nulla quos, dolorum explicabo nemo mollitia? Odit laboriosam
        aspernatur eum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At maiores obcaecati optio doloremque commodi odio
        voluptatem ad libero repellendus blanditiis, nulla quos, dolorum explicabo nemo mollitia? Odit laboriosam
        aspernatur eum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At maiores obcaecati optio doloremque commodi odio
        voluptatem ad libero repellendus blanditiis, nulla quos, dolorum explicabo nemo mollitia? Odit laboriosam
        aspernatur eum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At maiores obcaecati optio doloremque commodi odio
        voluptatem ad libero repellendus blanditiis, nulla quos, dolorum explicabo nemo mollitia? Odit laboriosam
        aspernatur eum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At maiores obcaecati optio doloremque commodi odio
        voluptatem ad libero repellendus blanditiis, nulla quos, dolorum explicabo nemo mollitia? Odit laboriosam
        aspernatur eum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At maiores obcaecati optio doloremque commodi odio
        voluptatem ad libero repellendus blanditiis, nulla quos, dolorum explicabo nemo mollitia? Odit laboriosam
        aspernatur eum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At maiores obcaecati optio doloremque commodi odio
        voluptatem ad libero repellendus blanditiis, nulla quos, dolorum explicabo nemo mollitia? Odit laboriosam
        aspernatur eum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At maiores obcaecati optio doloremque commodi odio
        voluptatem ad libero repellendus blanditiis, nulla quos, dolorum explicabo nemo mollitia? Odit laboriosam
        aspernatur eum.

    </div>
</main>

{% endblock %}