/*
O footer.css é um documento de estilo css que é utilizado para formatar e
criar o estilo do rodapé da página, esse que será utilizado de forma universal.
Esse documento define as configurações envolver o rodapé
*/

.footer-bread .col-md-4 {
  text-align: center;
  padding: 10px;
  
}

.footer-bread span {
  font-size: 14px;
}

.footer-bread img {
  width: 30%;
  opacity: 1;
}
.barra{
  color: black;
}