{% extends 'partials/base.html' %} {% block title %}

<title>Home</title>

{% endblock %} {% block content %}

<main class="main-content-container">
    <div class="main-content container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem atque numquam nostrum et
        iste
        sint
        iusto, eum, ab quae voluptate, optio mollitia tempora! Ex id excepturi earum culpa magni?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem atque numquam nostrum et
        iste
        sint
        iusto, eum, ab quae voluptate, optio mollitia tempora! Ex id excepturi earum culpa magni?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem atque numquam nostrum et
        iste
        sint
        iusto, eum, ab quae voluptate, optio mollitia tempora! Ex id excepturi earum culpa magni?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem atque numquam nostrum et
        iste
        sint
        iusto, eum, ab quae voluptate, optio mollitia tempora! Ex id excepturi earum culpa magni?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem atque numquam nostrum et
        iste
        sint
        iusto, eum, ab quae voluptate, optio mollitia tempora! Ex id excepturi earum culpa magni?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem atque numquam nostrum et
        iste
        sint
        iusto, eum, ab quae voluptate, optio mollitia tempora! Ex id excepturi earum culpa magni?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem atque numquam nostrum et
        iste
        sint
        iusto, eum, ab quae voluptate, optio mollitia tempora! Ex id excepturi earum culpa magni?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem atque numquam nostrum et
        iste
        sint
        iusto, eum, ab quae voluptate, optio mollitia tempora! Ex id excepturi earum culpa magni?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem atque numquam nostrum et
        iste
        sint
        iusto, eum, ab quae voluptate, optio mollitia tempora! Ex id excepturi earum culpa magni?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem atque numquam nostrum et
        iste
        sint
        iusto, eum, ab quae voluptate, optio mollitia tempora! Ex id excepturi earum culpa magni?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem atque numquam nostrum et
        iste
        sint
        iusto, eum, ab quae voluptate, optio mollitia tempora! Ex id excepturi earum culpa magni?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem atque numquam nostrum et
        iste
        sint
        iusto, eum, ab quae voluptate, optio mollitia tempora! Ex id excepturi earum culpa magni?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem atque numquam nostrum et
        iste
        sint
        iusto, eum, ab quae voluptate, optio mollitia tempora! Ex id excepturi earum culpa magni?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem atque numquam nostrum et
        iste
        sint
        iusto, eum, ab quae voluptate, optio mollitia tempora! Ex id excepturi earum culpa magni?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem atque numquam nostrum et
        iste
        sint
        iusto, eum, ab quae voluptate, optio mollitia tempora! Ex id excepturi earum culpa magni?
        </p>
    </div>
</main>

{% endblock %}